# Twitter OAuth Credentials
src/main/resources/twitter.json

# Project files
target/
.settings/
setting.xml
.project
.classpath

# Intellij files
*.iml
.idea/

# node modules
src/main/webapp/node_modules/
